/tests export-ignore
/tests/** export-ignore
/docs export-ignore
/docs/** export-ignore
/.docs export-ignore
/.docs/** export-ignore
/.vscode export-ignore
/.vscode/** export-ignore
/.idea export-ignore
/.idea/** export-ignore
/phpunit.xml export-ignore
/composer.lock export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
